/**
 * @TODO: refactor this file to clean it up a bit
 */

/**
 * Multiple WooCommerce Pages
 */
.woocommerce {
  a.remove {
    border: 1px solid $color-border;
    color: $color-text !important;
    font-size: 15px;
    height: 24px;
    line-height: 19px;
    width: 24px;

    &:hover {
      background-color: $color-orange;
    }
  }

  a.button,
	button.button,
	input.button,
	#respond input#submit {
		@extend .button;

		&.loading:after { top: .618em; }

		&.alt {
			@extend .button--create;

			&.disabled,
			&:disabled,
			&:disabled[disabled],
			&.disabled:hover,
			&:disabled:hover,
			&:disabled[disabled]:hover {
				@extend .button--disabled;
			}
		}

		&:disabled,
		&.disabled,
		&:disabled[disabled] {
      @extend .button--disabled;
		}
	}

}
.woocommerce-Price-amount { font-family: $alt-font-family; }
body.woocommerce .star-rating::before {
  content: "SSSSS";
  color: #e4d530;
}
body.woocommerce .star-rating span::before {
  content: "SSSSS";
  color: #e0b22f;
}
.woocommerce p.stars a {color: #e0b22f;}


/**
 * Product Listings Pages (category, shortcodes)
 */
.woocommerce {

  ul.cart_list,
  ul.product_list_widget {

    a.remove {
      float: left;
      transform: translateY(13px);
    }

    li img {
      float: left;
      margin: 0 $base-spacing-unit/2;
      vertical-align: middle;
      width:50px;
    }
  }
}
.product-cat-header {
  background: $color-border;// url(dist/img/hero-background.jpg) repeat;
  background-size: 300px;
  color: #fff;
  margin-bottom: $base-spacing-unit*7;
  margin-top: -$base-spacing-unit;
  text-align: center;

  @include media-query (palm) {
    margin-bottom: $base-spacing-unit*3;
  }

  @include media-query (lap) {
    margin-bottom: $base-spacing-unit*5;
  }

  .background {
    align-items: center;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 400px;
    height: 35vw;

    @include media-query(palm){
      display: block;
      height: auto;
      max-height: auto;
      padding: $base-spacing-unit*2;
    }
  }

  .page-title { margin: 0; }
}
.filter-container {
  float:left;

  & > div {
    display: inline-block;
    margin: 0 $base-spacing-unit 0 0;
  }

  .select2-container {
    min-width: 200px;

    @include media-query(palm){
      min-width: 100%;
    }
  }
}
.woocommerce ul.products li.product {
  .woocommerce-loop-product__title { 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .woocommerce-LoopProduct-link,
  .price { color: $color-text; }
}
.cs-brand-category.woocommerce div.product,
.cs-device-category.woocommerce div.product {
  margin-bottom: $base-spacing-unit*6;
}
@include media-query (desk){
  .cs-brand-category {
    div.product {
      div.images { width: 58%; }
    }
  }
}
.archive.cs-brand-category,
.archive.cs-device-category {
  div.product {
    .contain {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
form.collections-searchform {
  text-align: center;
  padding-bottom: $base-spacing-unit*3;

  @include media-query(lap) { margin-top: -$base-spacing-unit*2; }
  @include media-query(desk) { margin-top: -$base-spacing-unit*3; }

  input#s{
    background: $color-green url(dist/img/icon-search.svg) no-repeat 15px 10px;
    background-size: 25px;
    border: solid 1px $color-border;
    border-radius: 100px;
    color: #fff;
    max-width: 300px;
    outline: none;
    text-indent: 40px;

    &::placeholder { color: #fff; }
  }
}
.woocommerce div.product form.cart div.quantity { float: right; }
.woocommerce div.product form.cart .variations select { width: 70%; }
.woocommerce div.product form.cart .button { width: 82%; }
@include media-query (palm){
  .woocommerce {
    .filter-container,
    .woocommerce-ordering {
      width: 100%;

      > div {
        display: block;
        margin: 0 0 $base-spacing-unit 0;
      }

      select { width: 100%; }
    }
  }
}



/**
 * Single Product Page
 */
.woocommerce {
  .variations { width:300px; margin-top: 4em; }
  .variations .select2-container { max-width: 300px; }
  .variations_button button { width: 65%; }
  div.product .woocommerce-tabs {    
    padding-top: $base-spacing-unit*5;
    ul.tabs {
      @extend .contain;
      padding-left: 0;
      transform: translateY(-2.55em);

      &::before {
        display: none;
      }

      li {
        font-family: $alt-font-family;
        background: #fff;
        border:0;
        border-radius: 0;
        margin: 0;

        &:before,
        &:after {
          display: none;
        }

        &.active { 
          background: $color-border;
          border: solid 1px $color-border; border-bottom: 0;
          
          &:before { box-shadow: 0; }
        }
      }
    }
    .panel {
      @extend .contain;
      margin-bottom: 0;
      padding: $base-spacing-unit;
      
      h2:first-of-type { display: none; }
    }
    .grid.widegutter > :last-child { text-align: right; }
  }
}

.woocommerce-product-gallery__wrapper { margin: 0 0 1em 0; }
.related.products { clear:both; }
@media only screen and (min-width: 769px){
  .related.products {
    ul.products li.product,
    ul.products li.product {
      width: 22.05%;
    }
  }
}
@include media-query(palm){
  .summary.entry-summary button[type=submit] { max-width: 200px !important; }
  .woocommerce #content div.product div.summary,
  .woocommerce div.product div.summary,
  .woocommerce-page #content div.product div.summary,
  .woocommerce-page div.product div.summary {
    width: 100%;
  }
}
@include media-query(lap-and-up){
  .woocommerce div.product form.cart .variations td.label {
    width: 30%;
  }
  .woocommerce #content div.product div.summary,
  .woocommerce div.product div.summary,
  .woocommerce-page #content div.product div.summary,
  .woocommerce-page div.product div.summary {
    width: 41%;
  }
  .woocommerce-page.cs-collections-category div.product div.summary { float: left; }
}
.woocommerce div.product div.images {
  .social-sharing-links {
    margin: -2em 0 0 0;
    padding-top: 10px;
    position: absolute;
    top: 100%;
    @include media-query(lap-and-up){
      right: 20%;
    }
  }
}
.woocommerce div.product div.images.woocommerce-product-gallery { padding-bottom: 2em; }
@media screen and (min-width: 768px){
  .woocommerce div.product div.images {
    .woocommerce-product-gallery__trigger {
      right: 20%;
      transform: translateX(-0.5em);

      + figure { width: 80%; }
    }
    .flex-viewport {
      float: left;
      max-width: 80%;
    }
    .flex-control-nav {
      float: right;
      max-width: 15%;

      li {
        float: none;
        margin-bottom: 10px;
        width: 100%;
      }
    }
  }
  .woocommerce.case-station-gift-card div.product div.images .woocommerce-product-gallery__trigger { right: 0; }
  .woocommerce.case-station-gift-card div.product div.images .woocommerce-product-gallery__trigger + figure,
  .woocommerce.cs-device-category div.product div.images .woocommerce-product-gallery__trigger + figure { width: 100%; }
}
.woocommerce div.product p.price,
.woocommerce div.product span.price {
  @extend .h1;
  color: $color-text;
  font-weight: lighter;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  color: $color-border-dark;
  font-weight: normal;
  padding: .5em 1em;
}
.variations_form .woocommerce-variation- {
  margin-bottom: $base-spacing-unit;
}
.woocommerce div.product .product_title {margin-bottom: 0;}
.woocommerce div.product .woocommerce-product-rating {margin-bottom:1em;}
.woocommerce-variation-price {margin-bottom: 1em;}
.woocommerce div.product form.cart .reset_variations {margin-left: $base-spacing-unit;}
.summary .price { margin-top: 0; }
.ywgc-recipient { max-width: initial; }
#gift_amounts { width: 140px; }



/**
 * Cart/Checkout Pages
 */
.woocommerce {
  td.product-name dl.variation{
    dd,
    dt {
        display: block;
        float: none;
        margin-bottom: 0;
    }

    dt { float: left; }
    dd {
      width: 100%;
      p { margin: 0; }
    }
  }
}
body #add_payment_method table.cart img,
body.woocommerce-cart table.cart img,
body.woocommerce-checkout table.cart img {
  width: auto !important;
}
 #add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
  background: $color-panel-bg;
  border-radius: 0;
}
.woocommerce #payment,
.woocommerce-page #payment {
  position: relative;

  #subscribe_to_newsletter_field {
    padding: 0;
  }
}
@media screen and (min-width: 769px){
  .woocommerce #payment #place_order,
  .woocommerce-page #payment #place_order {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
  .woocommerce-checkout #payment div.form-row { min-height: 5.5em; }
}
#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
  border-color: solid 1px $color-border;
  line-height: 1.5;
  padding: 1rem;
}


/**
 * Account Pages
 */
.woocommerce {
  @include media-query(lap-and-up){
    #customer_login h2 {
      margin: 1em auto;
      max-width: 350px;
    }
  }

  form.checkout_coupon,
  form.login,
  form.register,
  form.woocommerce-ResetPassword {
    border: 0;
    margin: 0 auto;
    max-width:350px;
    padding: 0;

    input[type=text],
    input[type=email],
    input[type=password]{
      width: 100%;
    }
  }
}
.woocommerce-account {
  h1 { display: none; }

  .woocommerce-LostPassword a {
    float:right;
  }

  input[type=submit],
  button[type=submit]
  {
    width: 100%;
  }
}
.woocommerce-lost-password {text-align: center;}
#subscribe_to_newsletter_field label {
  display: block;
  line-height: 1.2;
  padding-left:1.5em;
  input { margin-left:-1.5em; }
}
.woocommerce-MyAccount-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li { padding: 0; }
}

/**
 * Mini Cart
 */
.has-js .cs-mini-cart {
  position: relative;

  .cart-icon {
    background: url('dist/img/cart.svg') no-repeat left center;
    background-size: 61%;
    display: inline-block;
    line-height: 3.6rem;
    padding-left: 3rem;
  }

  &__details {
    font-family: $base-font-family;
    font-size: 1.2rem;
    padding: $base-spacing-unit/2;

    .total {
      border-bottom: solid 1px $color-border;
      border-top: solid 1px $color-border;
      padding: $base-spacing-unit/2 0;

      .amount {
        display: inline-block;
        float: right;
      }
    }

    .buttons { margin-bottom: 0; }
    .button {
      display: block;
      text-align: center;

      &:first-child {
        @extend .button--secondary;
      }

      &.checkout {
        @extend .button--primary;
        margin-top: $base-spacing-unit/2;
      }
    }
  }

  .variation-Brand {
    display: none;
  }

  @include media-query(lap-and-up){

    &:hover .cs-mini-cart__details {
      left: -274px;
      top: 100%;
    }

    &__details{
      background: #fff;
      border: solid 1px $color-border;
      box-shadow: 0 0 10px rgba(0,0,0,0.25);
      left: -99999px;
      position: absolute;
      top: -99999px;
      width: 320px;
      z-index: 101;
    }

    .mini_cart_item {
      border-bottom: solid 1px $color-border;
      margin-bottom: 10px;
      padding-bottom: 10px;

      &:last-child { 
        border-bottom: 0; 
        padding-bottom: 0;
      }

      // clearfix
      &:before, &:after { content: " "; display: table; }
      &:after { clear: both; }
    
      > a[rel=prettyPhoto] img{
        border: solid 1px $color-border;
      }

      dl.variation {
        border-left: 0;
        float: left;
        padding-left: 0;
        width: calc(100% - 95px);

        dt,
        .variation-Brand { display:none; }

        dd {
          display:inline;
          margin: 0;
          padding: 0;
          
          :after {
            content:",";
            margin-right: 0.5em;
          }

          p { margin:0; }
        }

        + .quantity {
          float: none;
          margin-left: 95px;
        }
      }

      .quantity {
        float: left;
        display: block;
        width: calc(100% - 100px);
      }
      
    }

  }

  .mini-cart-link{
    display: block;
    padding: $base-spacing-unit/4 0;
    font-size: 1.6rem;

    &:first-child { padding-top: 0; }

    &--wishlist {
      background: url(dist/img/icon-wishlist.svg) left no-repeat;
      background-size: 1em;
      text-indent: 1.5em;
    }

    &--orders {
      background: url(dist/img/icon-orders.svg) left no-repeat;
      background-size: 1em;
      text-indent: 1.5em;
    }

    &--account {
      background: url(dist/img/icon-account.svg) left no-repeat;
      background-size: 1em;
      text-indent: 1.5em;
    }

    &--user {
      background: url(dist/img/icon-user.svg) left no-repeat;
      background-size: 1em;
      text-indent: 1.5em;
    }
  }
}

/**
 * EC3D Plugin
 */
// #ec3d iframe {
//   width: 100%;
//   overflow: hidden!important;
//   height: 88.5vh;
// }

/**
 * GUARANTEE BADGE
 */
.cs-labs-lifetime-badge img{
  max-width: 175px;
}

/**
 * Amazon pay note & free shipping
 */
.amazon-pay,
.free-shipping {
  color: $color-border-dark;
  font-size: 85%;
  font-weight: bold;
}

/**
 * Protection Level
 */
.protection-level img { width: 331px; }

/**
 * Add to wishlist
 */
.yith-wcwl-add-to-wishlist {
  display: block;
  height: 28px;
  opacity: .5;
  position: absolute;
  left: $base-spacing-unit/2;
  top: $base-spacing-unit*.25;
  transition: opacity .3s ease;
  width: 28px;
  z-index: 1;

  &:hover { opacity: 1; }

  .add_to_wishlist {
    background: url('dist/img/icon-wishlist.svg') center no-repeat;
    background-size: contain;
    display: block;
    height: 28px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    width: 28px;
  }

  .yith-wcwl-wishlistaddedbrowse,
  .yith-wcwl-wishlistexistsbrowse {

    .feedback { display: none; }
    a {
      background: url('dist/img/icon-wishlist-added.svg') center no-repeat;
      background-size: contain;
      display: block;
      height: 28px;
      position: absolute;
      right: 0;
      text-indent: -9999px;
      width: 28px;
    }
  }

  .ajax-loading{
    bottom: -5px;
    position: absolute;
    right: -3px;
    transform: scale(.5);
    z-index: 2;
  }
}
@include media-query(desk){
  .cs-device-category  .yith-wcwl-add-to-wishlist {
    left: 10%;
  }
}

/**
 * Case type menu
 */
.case-type-menu-container {
  background: #333;
  margin-top: -2rem;

  .device-mobile-menu-trigger {
    color: #fff;
    display: none;
    font-weight: bold;
    line-height: 3em;
    text-align: center;
  }

  &.mobile-enabled {
    .case-type-menu{
      flex-direction: column;
      flex-wrap: nowrap;
    }
    
    .device-mobile-menu-trigger { display: block; }
  }

  + .main-content > .contain > .product:first-child {
    margin-top: $base-spacing-unit*6;
  }

}
.case-type-menu {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  font-family: $alt-font-family;
  justify-content: center;
  font-size: 1.4rem;
  list-style: none;

  .device-mobile-menu-trigger { display:none; }

  li { display:flex; }

  a {
    color: #fff;
    padding: 20px 20px;

    &.active { color: $color-blue; }
  }
}

.device-gallery {
  display: flex;
  
  @include media-query(palm) {
    flex-direction: row;
    justify-content: space-between;
    
    &__item { width: 45%; }
  }
  @include media-query(portable){
    flex-direction: row;
    justify-content: space-between;
    
    &__item { width: 20%; }
  }
  @include media-query(desk){
    flex-direction: column;
    left: 0;
    position: absolute;
    width: 60px;
    
    &__item { 
      margin-bottom: 10px;
      width:60px; 
    }
  }
}
@include media-query(desk){ 
  .cs-device-category {
    &.woocommerce div.product div.images {
      .flex-control-nav,
      .woocommerce-product-gallery__image:nth-child(n+2) { 
        clear: left;
        float: left; 
        margin-bottom: 10px;
        max-width: 10%;
      }
      .flex-viewport,
      .woocommerce-product-gallery__image { 
        float: right; 
        max-width: 85%;
      }
      .woocommerce-product-gallery__trigger {
        right: 0px;
      }
    }
  }
}

// product grid animation initial state
.has-js .products .product { opacity: 0; }