/**
 * grid-setup
 * @param  {string} $namespace  namespace of device
 */
 @mixin grid-setup($namespace: "") {
	
		/**
		* Whole
		*/
		.#{$namespace}one-whole         { max-width: 100%; width:100%; }
	
	
		/**
		* Halves
		*/
		.#{$namespace}one-half          { max-width: 50%; width:50%; }
	
	
		/**
		* Thirds
		*/
		.#{$namespace}one-third         { max-width: 33.333%; width:33.333%; }
		.#{$namespace}two-thirds        { max-width: 66.666%; width:66.666%; }
	
	
		/**
		* Quarters
		*/
		.#{$namespace}one-quarter       { max-width: 25%; width:25%; }
		.#{$namespace}two-quarters      { @extend .#{$namespace}one-half; }
		.#{$namespace}three-quarters    { max-width: 75%; width:75%; }
	
	
		/**
		* Fifths
		*/
		.#{$namespace}one-fifth         { max-width: 20%; width:20%; }
		.#{$namespace}two-fifths        { max-width: 40%; width:40%; }
		.#{$namespace}three-fifths      { max-width: 60%; width:60%; }
		.#{$namespace}four-fifths       { max-width: 80%; width:80%; }
	
	
		/**
		* Sixths
		*/
		.#{$namespace}one-sixth         { max-width: 16.666%; width:16.666%; }
		.#{$namespace}two-sixths        { @extend .#{$namespace}one-third; }
		.#{$namespace}three-sixths      { @extend .#{$namespace}one-half; }
		.#{$namespace}four-sixths       { @extend .#{$namespace}two-thirds; }
		.#{$namespace}five-sixths       { max-width: 83.333%; width:83.333%; }
	
	
		/**
		* Twelfths
		*/
		.#{$namespace}one-twelfth       { max-width: 8.333%; width:8.333%; }
		.#{$namespace}two-twelfths      { @extend .#{$namespace}one-sixth; }
		.#{$namespace}three-twelfths    { @extend .#{$namespace}one-quarter; }
		.#{$namespace}four-twelfths     { @extend .#{$namespace}one-third; }
		.#{$namespace}five-twelfths     { max-width: 41.666%; width:41.666% }
		.#{$namespace}six-twelfths      { @extend .#{$namespace}one-half; }
		.#{$namespace}seven-twelfths    { max-width: 58.333%; width:58.333%; }
		.#{$namespace}eight-twelfths    { @extend .#{$namespace}two-thirds; }
		.#{$namespace}nine-twelfths     { @extend .#{$namespace}three-quarters; }
		.#{$namespace}ten-twelfths      { @extend .#{$namespace}five-sixths; }
		.#{$namespace}eleven-twelfths   { max-width: 91.666%; width:91.666%; }
	
	}
	
	/**
	 * media-query
	 * @param  {string} $media-query name of mediaquery name
	 */
	@mixin media-query($media-query){
	
		@if $media-query == palm{
	
			@media only screen and (max-width:$palm-end) { @content; }
	
		}
	
		@if $media-query == lap{
	
			@media only screen and (min-width:$lap-start) and (max-width:$lap-end) { @content; }
	
		}
	
		@if $media-query == lap-and-up{
	
			@media only screen and (min-width:$lap-start) { @content; }
	
		}
	
		@if $media-query == portable{
	
			@media only screen and (max-width:$lap-end) { @content; }
	
		}
	
		@if $media-query == desk{
	
			@media only screen and (min-width:$desk-start) { @content; }
	
		}
	
		@if $media-query == desk-wide{
	
			@media only screen and (min-width: $desk-wide-start) { @content; }
	
		}
	
	}