/**
 * Base stuff
 */
$base-font-size:    1rem;
$base-line-height:  1.5rem;
$base-spacing-unit: 2rem;


/**
 * Base font-family.
 */
$base-font-family:  'Nunito Sans', sans-serif;
$alt-font-family:   'Montserrat', sans-serif;


/**
 * Grid breakpoints start.
 */
$palm-start:        0px;
$lap-start:         568px;
$desk-start:        1024px;
$desk-wide-start:   1440px;
$palm-end:          $lap-start - 1px;
$lap-end:           $desk-start - 1px;


/**
 * Colours
 */
$color-text:        #575757;
$color-border:      #e2e2e2;
$color-border-dark: darken($color-border, 30);
$color-panel-bg:    #ebeced;
$color-blue:        #176DA5;
$color-blue-light:  lighten($color-blue, 15);
$color-blue-dark:   darken($color-blue, 15);
$color-orange:         #E25D4B;
$color-orange-light:   lighten($color-orange, 15);
$color-orange-dark:    darken($color-orange, 15);
$color-green:         #47b96f;
$color-green-light:   lighten($color-green, 15);
$color-green-dark:    darken($color-green, 15);

/**
 * Misc
 */
// meta-styling
$curve:             $base-spacing-unit/4;

// animation
$speed-fast:         .3s;
$speed-medi:         .6s;
$speed-slow:         1.2s;
$speed-snail:        3s;

// navigation
$branding-bar-height: 64px;
$subnav-width: 200px;
$mobile-nav-width: 350px;
