.page-wrapper {
	background: #fff;
	padding-top: $base-spacing-unit;
	position: relative;
	transition: transform $speed-fast ease;
	z-index: 2;
}
.page-template-tpl-hero-page .page-wrapper {
	padding-top: 0;
}

.main-content {
	padding-bottom: $base-spacing-unit;
}

.cf{
	&:before,
	&:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}

	&:after {
		clear: both;
	}
}

.flexed {
	display: flex;

	@include media-query(palm){
		flex-direction: column;
	}
	.flex__item {
		flex: 1 1 auto;
	}
}

.screen-reader-text{
	position: absolute;
	left:-9999px;
}

.contain {
	margin: 0 auto;
	max-width: 1300px;
	padding: 0 $base-spacing-unit;
	width: 100%;
}

.pagination{
	list-style: none;
	margin: $base-spacing-unit/4 0;
	padding: $base-spacing-unit/4;
	text-align: center;
	word-spacing: -0.32em;

	li {
		display: inline-block;
		word-spacing: normal;

		&:before{
			background: none;
			content: "";
			display: inline;
			height: auto;
			left: 0;
			margin-top: 0;
			padding: 0;
			position: relative;
			width: auto;
		}

		&.prev,
		&.next,
		&.last{
			&:before{
				content: " | ";
			}
		}
	}

	.page-numbers {
		border: solid 1px $color-border;
		border-right:0;
		display: inline-block;
		padding: .5rem 1rem;
		word-spacing: normal;

		:last-child & {
			border-right: solid 1px $color-border;
		}

		&:hover { background: $color-panel-bg; }

		&.current { background: $color-panel-bg; }
	}
}

.single .pagination{
	@extend .cf;
	border-bottom: solid 1px $color-border;
	border-top: solid 1px $color-border;
	margin: $base-spacing-unit*2 0;
	padding: $base-spacing-unit*2 0;

	.next-prev {
		display: block;
		font-weight: bold;
		line-height: 1;
	}
	.prev-post {
		float: right;
		text-align: right;
	}
	.next-post {
		float: left;
		text-align: left;
	}
}

.comment-list{
	list-style: none;
	padding: 0;

	li{
		border-left: solid 2px $color-border;
		background: #fefefe;
		margin-bottom: $base-spacing-unit;
		padding-bottom: $base-spacing-unit/2;

		li{
			margin-top: $base-spacing-unit/2;

			.comment-author{
				background: $color-border;
				color: $color-text;

				a, cite{ color: $color-text; }
			}
		}

		@include media-query(palm){
			ol{padding-left: 2px;}
		}
	}

	p{
		padding-left: $base-spacing-unit/2;
		padding-right: $base-spacing-unit/2;
	}

	a{
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	ol { list-style: none; }

	.comment-author{
		background: $color-green;
		color: #fff;

		a, cite{
			color: #fff;
			font-style: normal;
		}

		img{
			display: inline;
			margin-left: -2px;
			margin-right: $base-spacing-unit/2;
			vertical-align: middle;
		}
	}

	.comment-meta{
		color: $color-text;
		margin: 0;
		padding: 0;
	}

	.comment-reply-link{
		display: inline-block;
		padding: $base-spacing-unit/2;
	}
}

.cs-notice {
	font-size: 80%;
	line-height: 2em;
	text-align: center;
	padding: 5px 0;

	.contain { 
		padding-bottom: $base-spacing-unit/4; 
		padding-top: $base-spacing-unit/4; 
	}

	p:first-of-type { margin-top: 0; }
	p:last-of-type  { margin-bottom: 0; }

	.close {
		cursor: pointer;
		float: right;
		margin-right: 2rem;
		font-size: 1.5em;
		font-weight:bold;
	}
}

.menu ul,
ul.menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar #searchsubmit { @extend .screen-reader-text; }

.gform_wrapper {
	li.gfield { padding-left: 0; }
}

@include media-query(palm){ .select2-container { min-width:100%; } }

.select2-hidden-accessible {
	min-width: 0 !important;
	max-width: 0 !important;
}

.nav-tabs-container {
	.nav-tabs-selector,
	.select2 {

		margin: $base-spacing-unit 0;

		@include media-query(lap-and-up){
			 display: none;
		}
	}
	.nav-tabs {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style-type: none;
		margin: $base-spacing-unit 0 0 0;
		padding: 0;

		@include media-query(palm){ display: none; }
	}
	.nav-tab {
		margin-right: $base-spacing-unit/2;
		min-width: 140px;
		padding: $base-spacing-unit/4 $base-spacing-unit 0 $base-spacing-unit;
		transition: background $speed-medi ease;

		@include media-query(portable){
			padding: $base-spacing-unit/4 $base-spacing-unit;
			&.active a { border-bottom: 0; }
		}

		&:hover {
			background: #fff;
		}

		&:last-child { margin-right: 0; }

		&.active {
			background: #fff;
			font-weight: bold;

			a{
				border-bottom-color: $color-green;
				color: $color-green;
			}
		}

		a {
			border-bottom: solid 1px transparent;
			color: $color-border-dark;
			display: block;
			padding: $base-spacing-unit/4 0 $base-spacing-unit*.75 0;
			transition: color $speed-medi ease;

			@include media-query(palm){
				padding-bottom: $base-spacing-unit/4;
			}

			&:hover{
				color: $color-green;
			}

		}
	}
}

.social-sharing-links {
	span {
		display: inline-block;
		line-height: 32px;
		margin-right: 10px;
	}
	a {
		display: inline-block;
		float: none !important;
		height: 32px !important;
		width: 32px !important;
		vertical-align: middle;
	}
}

.flag {
	border: solid 1px #cecece;
}


body .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){padding:1rem;}

.card{

	.front, .back {
		img { min-width: 100%; }
	}

	.back {
		background-size: cover;
		height:100%;
		width:100%;

		> div {
			align-items: center;
			background: rgba(255,255,255,0.85);
			color: $color-text;
			display: flex;
			font-weight: bold;
			justify-content: center;
			height: 100%;
			padding: $base-spacing-unit;
			text-align: center;
			width: 100%;
		}
	}
}
@include media-query(desk){
	.card {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;

		.front, .back {
			backface-visibility: hidden;
			height: 100%;
			position: absolute;
			top:0;
			width: 100%;
		}
		
		.back > div {
			position: absolute;
		}
	}
	.card-flip {
		padding-top: 100%;
		position: relative;
		perspective: 800px;

		.card {
			transform-style: preserve-3d;
			transition: transform 1s;

			.back {
				transform: rotateY( 180deg );
			}
		}

		&:hover .card {
			transform: rotateY( 180deg );
		}
	}
	.card-fade {
		padding-top: 100%;
		position: relative;
		.card{
			.back { 
				opacity: 0; 
				transition: opacity 1s;
			}
		}

		&:hover .card .back {
			opacity: 1;
		}
	}
}

.background-container {
	background-position: 50%;
	padding: $base-spacing-unit 0;

	@include media-query(desk){ padding: $base-spacing-unit*2; }
	@include media-query(desk-wide){ padding: $base-spacing-unit*4; }
}

.full-width{
	
	@media all and (max-width:1300px){
		margin-left: -$base-spacing-unit;
		margin-right: -$base-spacing-unit;
	}
	@media all and (min-width:1301px){
		margin-left: calc(-50vw + 50% - 20px);
		margin-right: calc(-50vw + 50% - 20px);
	}

	&--tabs { background: $color-border; }
}

/* lightbox background */
body div.pp_pic_holder { background: transparent; }

/* animation delays */
.has-js .invisible { opacity: 0; }
.delay-1 { animation-delay: 0.3s; }
.delay-2 { animation-delay: 0.6s; }
.delay-3 { animation-delay: 0.9s; }

body:before{
	background: rgba(0,0,0,0.85);
	content: "";
	display: block;
	height: 100%;
	left:0;
	opacity:0;
	position: fixed;
	transform: translateX(-100%);
	transition: opacity .3s ease;
	width: 100%;
	z-index: 10;
}
body.show-mobile-menu:before,
body.show-search:before{
	transform: translateX(0);
	opacity: 1;
	z-index: 99;
}
body.show-mobile-menu:before{
	z-index: 101;
}


.alert{
	border: solid 1px #faebcc;
	background: #fcf8e3 url(dist/img/icon-alert.svg) no-repeat 0.75rem center;
	background-size: 1.5em;
	color: #8a6d3b;
	padding: $base-spacing-unit/2 $base-spacing-unit/2 $base-spacing-unit/2 $base-spacing-unit*2;
}