.affiliate-area .page-wrapper {
  article {
    border: 0;
    margin: 0 auto;
    max-width:350px;
    padding: 0;

    input[type=text],
    input[type=email],
    input[type=password],
    textarea,
    .button{
      width: 100%;
    }
  }
  .button {
    @extend .button--create;
  }
}
