// default button styles
.button,
input[type=submit],
button{
	background: #fff;
	border: solid 1px $color-blue;
	border-radius: 0;
	color: $color-blue;
	cursor: pointer;
	display: inline-block;
	font-family: $alt-font-family;
	line-height: 1.5 !important;
	padding: $base-spacing-unit/2 $base-spacing-unit;
	transition: all $speed-fast ease;

	&:hover{
		background-color: $color-blue;
		color: #fff;
	}
}

//@NOTE; input needs a padding tweak to be the same height
input[type=submit]{
	padding: 1.3rem 2rem;
}

// primary button (positive actions)
.button--primary {
	background-color: $color-blue !important;
	border-color: $color-blue !important;
	color: #fff !important;

	&:hover {
		background-color: $color-blue-light !important;
	}
}

// secondary button (negative or alternative actions)
.button--secondary {
	background-color: $color-orange !important;
	border-color: $color-orange !important;
	color: #fff !important;

	&:hover {
		background-color: $color-orange-dark !important;
	}
}

// create now button
.button--create {
	background-color: $color-green !important;
	border-color: $color-green !important;
	color: #fff !important;

	&:hover {
		background-color: $color-green-dark !important;
	}
}

// disbled buttons
.button--disabled,
.button[disabled],
input[type=submit][disabled],
button[disabled] {
	background-color: #fff !important;
	border-color: $color-blue-light !important;
	color: $color-blue-light !important;
	opacity: .6 !important;

	&:hover {
		border-color: $color-text !important;
		background-color: $color-border !important;
		color: $color-text !important;
	}
}
