/**
 *	HTML BASE ELEMENTS
 *	The theme uses a "reset" to normalise browser style differences.
 *	This file provides common defaults after the reset.
 */

* { box-sizing: border-box; }

body,
html {
	color: $color-text;
	min-height: 100vh;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}

html { font-size: 10px; line-height: 1.5; }

body {
	font-family: $base-font-family;
	font-size: 1.6rem;
}

h1, .h1 { font-size: 2.6rem; font-family: $alt-font-family; }
h2, .h2 { font-size: 2.2rem; font-family: $alt-font-family; }
h3, .h3 { font-size: 1.8rem; font-family: $alt-font-family; }
h4, .h4 { font-size: 1.6rem; font-family: $alt-font-family; font-weight: bold; }
h5, .h5 { font-size: 1.6rem; font-family: $alt-font-family; }
h6, .h6 { font-size: 1.6rem; font-family: $alt-font-family; font-style: italic; }

a {
	color: $color-blue;
	text-decoration: none;
	&:hover   { color: $color-blue-dark; }
}

small { font-size: 60%; }

img { height: auto; max-width: 100%; }

article{
	ol,
	ul {
		padding-left: 1em;
	}

	li { padding-left: 1.5em; }
}

article table {
	border-collapse: collapse !important;
	border: solid 1px $color-border;
	border-bottom: 0 !important;
	border-right: 0 !important;
	border-radius: 0 !important;
	margin: 0 auto;
	text-align: left;
	width: 100%;

	th, td {
		border-bottom: solid 1px $color-border;
		border-right: solid 1px $color-border !important;
		border-top: 0 !important;
		padding: $base-spacing-unit/2;
	}

	th { background: $color-panel-bg; }
}

fieldset{
	border: 0;
	margin: 0 0 $base-spacing-unit*2 0;
	padding: 0;

	legend{
		@extend .h3;
		display: block;
		padding: 0;
		width: 100%;
	}
}
form {
	input[type=email],
	input[type=number],
	input[type=password],
	input[type=search],
	input[type=tel],
	input[type=text],
	input[type=url],
	textarea{
		border: solid 1px $color-border;
		background: lighten($color-border, 10);
		outline: none;
		line-height: 1.5 !important;
		transition: background $speed-medi ease;
		padding: $base-spacing-unit/2;
		width: 100%;

		&:focus {
			background: #fff;
			outline: solid 1px $color-blue-light;
		}
	}

	input[type=radio],
	input[type=checkbox]{
		+ label { margin-left: 1em; }
	}

	input[type=search],
	input#s {
		background-image: url(dist/img/icon-search-black.svg) no-repeat;
		background-position: center left;
		background-size: 1.5em;
		font-weight: 300;
		padding-left: 2em;

		&:focus { outline: none; }
	}
}
label.has-placeholder {
	@extend .screen-reader-text;
}

blockquote {
	border-left: solid 5px $color-blue;
	margin-left: 0;
	padding-left: $base-spacing-unit*2;

	cite {
		font-style: italic;
		text-transform: capitalize;
		
		&:before { content : "~ " }
	}
}

hr {
	border: 0;
	border-top: solid 1px $color-border;
	margin: $base-spacing-unit 0;
}
