/**
 * LAYOUT GRID
 * This file provides our framework for the responsive grid/layout of the site
 */

// grid container
.grid{
	margin-left:-$base-spacing-unit;
	list-style:none;
	margin-bottom:0;

	// nested grids
	& > .grid{ margin-left:0; }
}

// columns
.grid__item{
	display:inline-block;
	margin-right: -4px;
	padding-left:$base-spacing-unit;
	vertical-align:top;
	width:100%;
}

// gutterless grid (no space between columns)
.grid.gutterless { margin-left: 0; }
.grid.gutterless .grid__item{ padding: 0;}

// gutterless grid (no space between columns)
.grid.widegutter { margin-left: -$base-spacing-unit*2; }
.grid.widegutter .grid__item{ padding: $base-spacing-unit*2;}

// flexbox
.flex,
.grid.flex {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding-left: 0;
	width: 100%;

	.flex__item,
	.grid__item {
		flex: 1 1 auto;
		margin-right: 0;
		padding-left: 0;

		.padder {
			padding: $base-spacing-unit/2;
		}
	}
}

// use mixins.scss to generate default and responsive classnames to use for the grid
@include grid-setup();
@include media-query(palm)       { @include grid-setup("palm-"); }
@include media-query(lap)        { @include grid-setup("lap-"); }
@include media-query(lap-and-up) { @include grid-setup("lap-and-up-"); }
@include media-query(portable)   { @include grid-setup("portable-"); }
@include media-query(desk)       { @include grid-setup("desk-"); }
@include media-query(desk-wide)  { @include grid-setup("desk-wide-"); }
