/*!
 * WordPress Core Styles
 */

.alignnone {
	margin: $base-spacing-unit/4 $base-spacing-unit $base-spacing-unit 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: $base-spacing-unit/4 auto $base-spacing-unit/4 auto;
}

.alignright {
	float:right;
	margin: $base-spacing-unit/4 0 $base-spacing-unit $base-spacing-unit;
}

.alignleft {
	float: left;
	margin: $base-spacing-unit/4 $base-spacing-unit $base-spacing-unit 0;
}

.aligncenter {
	display: block;
	margin: $base-spacing-unit/4 auto $base-spacing-unit/4 auto;
}

a img.alignright {
	float: right;
	margin: $base-spacing-unit/4 0 $base-spacing-unit $base-spacing-unit;
}

a img.alignnone {
	margin: $base-spacing-unit/4 $base-spacing-unit $base-spacing-unit 0;
}

a img.alignleft {
	float: left;
	margin: $base-spacing-unit/4 $base-spacing-unit $base-spacing-unit 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.wp-caption {
	max-width: 96%; /* Image does not overflow the content area */
	padding: $base-spacing-unit/4 $base-spacing-unit/4 $base-spacing-unit/2;
	text-align: center;
}

.wp-caption.alignnone {
	margin: $base-spacing-unit/4 $base-spacing-unit $base-spacing-unit 0;
}

.wp-caption.alignleft {
	margin: $base-spacing-unit/4 $base-spacing-unit $base-spacing-unit 0;
}

.wp-caption.alignright {
	margin: $base-spacing-unit/4 0 $base-spacing-unit $base-spacing-unit;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: $base-font-size;
	line-height: $base-spacing-unit;
	margin: 0;
	padding: 0 $base-spacing-unit/4 $base-spacing-unit/4;
}

@media screen and (max-width: 782px) { html #wpadminbar { position: fixed; } }
