// default branding bar styling
.branding-bar {
  background: #fff;
  border: solid 1px $color-border;
  box-sizing: content-box;
  height: $branding-bar-height;
  position: relative;
  transition: transform $speed-fast ease;
  transform: translateX(0);
  z-index: 100;

  @include media-query(portable){
    .flex { flex-direction: row; }
    .grid.flex { justify-content: space-between; }
  }

  // all links
  a {
    color: $color-text;
    &:hover { color: $color-blue; }
  }

  // vertical align all images to middle
  img { vertical-align: middle; }

  // logo
  .logo{
    margin-left: $base-spacing-unit;
    @include media-query(portable){
      img{ max-width: 100px; }
    }
    @include media-query(desk){
      padding-right: $base-spacing-unit/2;
      img { max-width: 150px; }
    }
  }

  // hide nav on mobile
  @include media-query(portable){
    .menu,
    .utility .icon--search { display: none; }
  }

  // utility area
  .utility {
    height: $branding-bar-height;
    justify-content: flex-end;
    padding-left: $base-spacing-unit/2;
    flex-wrap: nowrap;

    // space items out
    > * { 
      margin-left: 20px;
      min-width: 28px;
      @include media-query(portable){ margin-left: 16px; }
    }
    > :nth-child(2) { min-width: 50px; }
    > :last-child { margin-right: $base-spacing-unit; min-width: 26px; }

    .woocommerce-message { display:none; }
  }

  // mini-cart
  @include media-query(desk){
    .cs-mini-cart:hover .cs-mini-cart__details { display: block; }
  }
  .cs-mini-cart__details {
    display: none;
  }
}
.current-lang img { 
  cursor: pointer;
  max-height: 22px;
  vertical-align: middle;
}

// hide secondary branding bar by default
.branding-bar--secondary {
  display: none;
}

// show secondary branding bar on scroll when JS is enabled
.has-js .branding-bar--secondary {
  bottom: 100%;
  display: block;
  opacity: 0;
  position: fixed;
  transition: all $speed-medi ease;
  transform: translateY(0);
  width: 100%;
  z-index: 100;
}

/**
 * Search
 */
#branding-bar__search #s { 
  border: 0; 
  color: $color-text;

}

.icon--search {
  background: url('dist/img/icon-search-black.svg') no-repeat;
  background-size: 32px;
  display: inline-block;
  height: 32px;
  overflow:hidden;
  text-indent: -9999px;
  width: 32px;
}
.show-search .icon--search {
  background: url('dist/img/icon-close-black.svg') no-repeat;
  background-size: 20px;
  background-position: center;
}

@keyframes hidemenu{
  from { opacity: 1; transform: translateY(0px); }
  to   { opacity: 0; transform: translateY(-10px); }
}
@keyframes showmenu{
  0%   { opacity: 0; transform: translateY(-10px); }
  50%  { opacity: 0; transform: translateY(-10px); }
  100% { opacity: 1; transform: translateY(0px); }
}
@keyframes hidesearch{
  from { opacity: 1; transform: translateY(0px); }
  to   { opacity: 0; transform: translateY(10px); }
}
@keyframes showsearch{
  0%   { opacity: 0; transform: translateY(10px); }
  50%  { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0px); }
}

@include media-query(desk){
  .branding-bar__search{
    opacity: 0;
    position: absolute;
    top: 20%;
    transition: all 0.3s ease;
    transform: translateY(10px);

    &:target {
      animation: show_search 0.3s ease 0s forwards;
    }
  }
  .has-js{
    .menu-main-menu-primary-container { position:relative; z-index: 2; }
    .branding-bar__search { z-index: 1; }
    &.show-search{
      .menu-main-menu-primary-container { animation: hidemenu .3s ease forwards; }
      .branding-bar__search             { animation: showsearch .6s ease forwards; z-index: 3; }
    }
    &.hide-search{
      .menu-main-menu-primary-container { animation: showmenu .6s ease forwards; }
      .branding-bar__search             { animation: hidesearch .3s ease forwards; }
    }
  }
}
