/**
 * Pin the footer to the bottom of the page when content doesn't fill the screen
 */
footer.main-footer.pin {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/**
 * PEOPLE ARE TALKING BLOCK
 */
.people-are-talking {

  @include media-query(portable){
    li {
      width:48%;
    }
  }
  
  ul {
    display:flex;
    list-style-type: none;
    padding: 5px;
  }
  
  li {
    background: $color-border;
    flex: 1 auto;
    margin: 5px;
    padding: $base-spacing-unit*2 2rem;
    text-align: center;
  }

  a {
    line-height: 0;
  }

  img { max-height: 40px; }
}


/**
 * NEWSLETTER BLOCK
 */
.footer-newsletter {
  background: $color-panel-bg;
  padding: $base-spacing-unit 0;
}


/**
 * FOOTER COLUMNS BLOCK
 */
.footer-columns {
  background: #303336;
  color: #fff;
  padding: $base-spacing-unit*2 0;
  text-align: center;

  a {color:#fff;}

  .grid.flex { align-items: flex-start; }

  .widget_nav_menu {margin-bottom: $base-spacing-unit*2;}
}
.app-badges {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 2.5%;
    width: 45%;
    max-width: 150px;

    &:first-child {margin-left: 0;}
    &:last-child {margin-right: 0;}
  }
}
.footer-newsletter {
  text-align: center;

  h2 {
    font-weight: normal;
  }

  .gform_wrapper {
    margin: 0 auto !important;
    max-width: 275px;

    .gform_body,
    .gform_footer {
      margin: 0;
      padding: 0;
      width: auto;
    }

    input[type=text]{
      background: #fff !important;
      border-color: $color-text !important;
    }
    .gform_footer input.button{
      background-image: url('dist/img/arrow-right-white.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50%;
      border-color: $color-text !important;
      border-left: 0 !important;
      overflow: hidden;
      text-indent: -999px;
    }

    .top_label div.ginput_container { margin: 0; }

  }

  #gform_1 { text-align: center; position: relative; }


  .gform_wrapper ul.gform_fields li.gfield {
    margin-top: 0;
    padding-right: 0;
    max-width: 250px;
    width: 100%;
    .ginput_container {max-width: 250px; margin: 0 auto;}
    @include media-query(palm){
      width: 100%;
    }
  }

  .gform_wrapper .gform_footer input.button,
  .gform_wrapper .gform_footer input[type=submit] {
    @extend .button--primary;
    margin-right: 0;
    padding: 1rem 1.7rem;
    position: absolute;
    right:0;
    top: 0;
    width: 3em;
  }
}
.social-networks {
  list-style: none;
  margin: 0 0 $base-spacing-unit*2 0;
  padding: 0;

  @include media-query(palm){
    margin-top: $base-spacing-unit;
  }

  li {
    display: inline-block;
    margin: 0 5px;
    width: 32px;
  }
}

/**
 * PAYMENT/MENU/CURRENCY SWITCHER
 */
.payment-menu-currency {
  background: #303336;
  font-size: .75em;
  padding: 0 0 $base-spacing-unit*2 0;
}
.payment-icons {
  list-style: none;
  margin: 0;
  margin-bottom: $base-spacing-unit*2;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 2px;
    width: 32px;

    &:first-child{
      margin-left: 5px;
    }
  }

  img { vertical-align: middle; }
}

/**
 * Copyright text
 */
.copyright, .copyright a { color: $color-border; }

/**
 * ACCREDITATIONS
 */
.accreditations {
  border-bottom: solid 20px $color-text;
  position: relative;
  text-align: center;

  .badges {
    left: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    top: -30px;
    width: 100%;
  }

  img {
    height: 50px;
  }
}
