.has-js{
  .lang-chooser-container{
    align-items: center;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 90;

    @include media-query(portable){
      align-items: flex-start;
      overflow-y: scroll;
    }
  }

  .lang-chooser {
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    max-width: 45em;
    padding: $base-spacing-unit;
    position: relative;

    a.close{
      cursor: pointer;
      font-size: 50px;
      line-height:25px;
      position: absolute;
      right: 10px;
      top: 10px;
    }

    @include media-query(portable){
      background: #fff;
      padding: 8rem 2rem 2rem 2rem;
    }
    @include media-query(desk){
      padding: $base-spacing-unit*2;
      text-align: center;

      .regions > li{
        float: left;
        padding-right: 10px;
        width: 25%;

        &:last-child { padding-right: 0; }
      }
    }

    h2 { margin-top: 0; }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: left;
    }

    li {
      margin: 0;
      padding: .25em 0;
    }
  }
}
.has-js.show-lang-chooser{
  .lang-chooser-container{ display: flex; }
}
