/**
 * Brand bar navigation
 */
.menu-main-menu-primary-container { 
  opacity: 1;
  transition: opacity .3s ease; 
}
#menu-main-menu-primary > li { line-height: $branding-bar-height; }
#menu-main-menu-primary > li  li { line-height: 2em; }

.branding-bar{
  font-family: $alt-font-family;

  .current_page_ancestor,
  .current-menu-item {
    > a { color: $color-blue-light; }
  }

  // top level menu items
  nav > ul {
    padding: 0 $base-spacing-unit/2;
    justify-content: center;

    > li {
      display: inline-block;
      padding: 0 1em;

      > a { font-size: 1.4rem; line-height: 2em; }
    }
  }

  .menu-item-has-children:hover > .sub-menu { display: block; }

  /**
   * SINGLE COLUMN DROPDOWNS
   */

  // second level
  .sub-menu {
    background: #fff;
    display: none;
    font-family: $base-font-family;
    font-size: 1.2rem;
    position:absolute;
    width: $subnav-width;
    z-index: 99;

    li { position: relative; }
  }

  // third level
  .sub-menu .sub-menu {
    background: $color-panel-bg;
    left: $subnav-width - 1;
    top: 0;
  }

  // second and third level links
  .sub-menu li {
    a {
      border: solid 1px $color-border;
      border-bottom:0;
      display: block;
      padding: $base-spacing-unit/2 $base-spacing-unit*0.75;
    }

    &:last-child a { border-bottom: solid 1px $color-border; }
  }


  /**
   * MULTI-COLUMN DROPDOWNS
   */
  .wide {

    // all sub-menu levels
    .sub-menu {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;

      li {
        width: $subnav-width;
        &:last-child a { border: 0; }
      }

      a {
        border: 0;
        padding: 0;
      }
    }

    // second level only
    > .sub-menu {
      border: solid 1px $color-border;
      box-sizing: content-box;
      display: none;
      margin: 0;
      min-width: 300px;
      padding: $base-spacing-unit;

      > li {
        flex: 1 1 auto;

        > a { font-weight: bold; }
      }
    }

    // third level
    .sub-menu .sub-menu {
      background: #fff;
      left: 0;
      position: relative;
      width: $subnav-width;
    }
  }
  .wide.menu-item-has-children:hover > .sub-menu { display: flex; }

  // secondary nav item styling
  nav > ul#menu-main-menu-secondary {
    padding: 0 1rem;

    li { margin: 0 1px; }

    .button--create a,
    .button--primary a,
    .button--secondary a {
      color: #fff !important;
      font-family: $alt-font-family;
      line-height: 2.5em;
      margin: 0 1px;
    }
  }
}

.menu--main-secondary > ul {
  height: $branding-bar-height;
}



/**
 * Mobile navigation area
 * This should only be displayed on mobile, along with the menu icon
 */
$mob_menu_padding : $base-spacing-unit*1.25;
.burger{
  width: 26px;
  cursor: pointer;

  .burger-brick {
    height: 3px;
    background: $color-blue;
    margin-top: 5px;
    transition: $speed-medi ease-out;
  }
}

.mobile-nav-container{
  background: #fff;
  min-height: 100vh;
  overflow: hidden;
  padding: $base-spacing-unit*2.5 $mob_menu_padding $mob_menu_padding $mob_menu_padding;
  position: fixed;
  right: 0;
  top: 0;
  width: $mobile-nav-width;
  z-index: 110;

  .scroller { overflow-y: scroll; }

  .widget-title {
    display: block;
    margin-top: $base-spacing-unit;
  }

  a { font-size: 1.4rem; }
}

.mobile-utility {
  padding: $mob_menu_padding 0;

  a {
    color: $color-text;
    font-weight: bold;
    letter-spacing: 2px; 
    text-transform: uppercase;
  }
}

// js enabled browser behaviour styles
.has-js {

  .mobile-nav-container {
    transform: translateX($mobile-nav-width);
    transition: transform $speed-fast ease;

    a.close{
      cursor: pointer;
      font-size: 2em;
      right: 2.5rem;
      position: absolute;
      top: 0.1em;
      z-index: 4;
    }

    .sub-menu-title {
      font-weight: bold;
      left: 0;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 1em;
      width: 100%;
      z-index: 3;
    }
    
    a.back {
      background: url('dist/img/arrow-left-blue.svg') no-repeat;
      background-size: contain;
      left: $mob_menu_padding;
      height:26px;
      opacity: .1;
      overflow:hidden;
      position: absolute;
      text-indent: -999px;
      top: 1.1em;
      transition: opacity $speed-fast ease;
      width: 26px;
      z-index: 4;

      &.active {
        cursor: pointer;
        opacity: 1;
      }
    }

    .menu {
      padding-top: 1.2em;
    }

    .sub-menu {
      background: #fff;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: $base-spacing-unit*3.5 $base-spacing-unit*1.25 $base-spacing-unit*7;
      position: absolute;
      right:0;
      top: 0;
      transform: translateX($mobile-nav-width);
      transition: transform $speed-fast ease;
      width: $mobile-nav-width;
    }

    li a { 
      color: $color-text;
      display: block;
      font-weight: bold;
      letter-spacing: 2px; 
      padding: $base-spacing-unit/2 0;  
      text-transform: uppercase;
    }

    .sub-menu.active { 
      transform: translateX(0); 
      .sub-menu {
        
      }
    }

    #s { border: 0; }

  }
}

// show/hide mobile menu states
.show-mobile-menu,
.hide-mobile-menu{
  overflow-y: hidden;

  .page-wrapper {
    overflow-y: hidden;
  }

  .mobile-nav-container { display: block; }
}

// show mobile menu state
.show-mobile-menu {
  .mobile-nav-container { transform: translateX(0); }
  .page-wrapper,
  .branding-bar {
    transform: translateX(-$mobile-nav-width);
  }
  .burger-brick:first-child {
    transform: rotate(405deg);
  }
  .burger-brick:last-child {
    transform: rotate(-405deg);
    margin-top: -11px;
  }
  .burger-brick.middle { transform: scale(0); }
}

// hide mmobile menu state
.hide-mobile-menu {
  .page-wrapper {
    transform: translateX(0);
  }
}
