/**
 * IMAGE LINKS
 */
.image_links {
    h2, .description { text-align: center; }
    h2 { margin-bottom: 0.2em; }
    .description p:first-child { margin-top: 0px; }
    .description p:last-child { margin-bottom: 40px; }
    
    .mobile-image{
        width: 100%;
        @include media-query(desk){ display: none; }
        @include media-query(desk-wide){ display: none; }
    }

    .img-links__item__imaage-container {
        margin-bottom: 28px;
        padding-left: 10px;
        padding-right: 10px; 
        
        p { width: 100%; }
    }
}
.grid.image-links__items {
    margin-left: -1.5rem;
}
.image-links__item {
    padding-left: 1.5rem;
    padding-bottom: 40px;
    @include media-query(desk){ padding-bottom: 80px; }
}
.image-links__item__image-link {
    display: block;
    position: relative;
    overflow: hidden;
    // padding-top: 70%;

    // img{
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     margin: auto;
    // }
}
.image-links__item__meta { 
    display:flex; 
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 8px;
}
.image-links__item__title {
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: 2px;
}
.image-links__item__secondary-links {
    margin-left: 20px;
    margin-right: 20px;
    
    a {
        color: #575757;
        text-decoration: underline;
        margin-right: 0.75em;
    }
}

/**
 * COLLABORATIONS GRID
 */
 .collabs_grid {
    h2 { margin-bottom: 0.2em; }
    .description p:first-child { margin-top: 0px; }
    .description p:last-child { margin-bottom: 40px; }
    .meta-block { text-align: center; }
}
.collab-grid__item__image-link {
    display: block;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    padding-top: 70%;

    img{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
}


/**
 * FULL WIDTH IMAGE AND TEXT OVERLAY
 */
.full_width_graphic_text_overlay {
    .background-container { display: flex; }
    .mobile-image { display: none; }

    @include media-query(portable){
        .background-container { 
            background:none !important; 
            display: block; 

            * { color: $color-text !important; }
        }
        .has-image { background-image: none !important; } // override the inline style
        .mobile-image { display: block; }
    }
}


/**
 * TWO IMAGES
 */
.two_graphics {
    .images-container {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width:100%;
    }
    .images-item {
        max-width: 45%;
        text-align: center;
        width: 580px;

        @include media-query(palm){
            max-width: 100%;
        }
    }
}


/**
 * FEATURES LIST
 */
.features-list {
    text-align: center;
}


/**
 * TESTIMONIALS LIST
 */
.testimonials-list {
    text-align: center;
}
.testimonial__quote {
    border: 0;
    padding: 0 $base-spacing-unit;

    p {
        font-weight: bold;
        &:before { content: "“"; }
        &:after { content: "”"; }
    }
}


/**
 * IMAGE LINKS
 */
 .video_row {
    h2, .description { text-align: center; }
    h2 { margin-bottom: 0.2em; }
    .description p:first-child { margin-top: 0px; }
    .description p:last-child { margin-bottom: 40px; }

    .video-row__item__video-container {
        margin-bottom: 28px;
        padding-left: 10px;
        padding-right: 10px; 
        
        p { width: 100%; }
    }

    .embed-container { 
        position: relative; 
        padding-bottom: 56.25%;
        overflow: hidden;
        max-width: 100%;
        height: auto;
        iframe,
        object,
        embed { 
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    } 
}
.grid.video-row__items {
    margin-left: -1.5rem;
}
.video-row__item {
    padding-left: 1.5rem;
    padding-bottom: 40px;
    @include media-query(desk){ padding-bottom: 80px; }
}
.video-row__item__meta { 
    display:flex; 
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 8px;
}
.video-row__item__title {
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: 2px;
}